<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sticker Sickness</title>
  </head>
  <body>
    <h1>Sticker Sickness</h1>
    <h2>Process TC5X Label</h2>
    <form action="/process_tc5x" method="post">
      <label for="model">Model:</label>
      <input type="text" id="model" name="model"><br><br>
      <label for="sn">SN:</label>
      <input type="text" id="sn" name="sn"><br><br>
      <label for="pn">PN:</label>
      <input type="text" id="pn" name="pn"><br><br>
      <label for="mfd">MFD:</label>
      <input type="text" id="mfd" name="mfd"><br><br>
      <button type="submit">Process TC5X Label</button>
    </form>
    <h2>Process MC33 Label</h2>
    <form action="/process_mc33" method="post">
      <label for="pn">PN:</label>
      <input type="text" id="pn" name="pn"><br><br>
      <label for="mfd">MFD:</label>
      <input type="text" id="mfd" name="mfd"><br><br>
      <label for="sn">SN:</label>
      <input type="text" id="sn" name="sn"><br><br>
      <button type="submit">Process MC33 Label</button>
    </form>
  </body>
</html>
